.AboutContainer {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    box-sizing: content-box;
}

.AboutSkillsContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:80%;
}

.AboutCols {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: calc(10px + 2vmin);
    color: white;
}

.AboutName {
    font-size: 60px;
    line-height: normal;
}

.AboutButtons {
    width: 90%;
    max-width: 700px;
}

.AboutBanner {
    margin-top: 40px;
    color: yellow;
}

@media (max-width: 1024px) {
    .AboutContainer {
      flex-direction: column;
    }
}

.typed-cursor{
    opacity: 1;
    font-size: calc(10px + 2vmin);
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}