.App {
  text-align: center;
  line-height: normal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* * {
  font-family: 'Press Start 2P', cursive;
} */
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.7em;
  background: #282c34;
}
body::-webkit-scrollbar-thumb {
  background: transparent;
  height:30px;
}

body::-webkit-scrollbar-track-piece
{
   display:none;
}